.dashboard {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 10px;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

p {
    margin-bottom: 0;
}

/*styles for single show card*/
.card-subtitle {
    margin-bottom: 5px;
}

.small-text {
    font-size: 12px;
    height: 28px;
}

.show-name {
    padding-top: 10px;
    padding-bottom: 10px;
}

.parent-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.error-empty-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

/*styles for show-list page*/
.pagination-container {
    display: flex;
    flex-flow: row;
    justify-content: end;
    gap: 10px;
}

.pagination-buttons-container {
    display: flex;
    flex-flow: row;
    gap: 10px;
}

.pagination-button-pointer {
    cursor: pointer;
}

.shows-list-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    gap: 5px;
}

.hide-pagination {
    display: none;
}

.genre-text {
    font-weight: 800;
    display: flex;
    justify-content: start;
    font-weight: 800;
}

/*styles for detail page*/
.show-details {
    display: flex;
    flex-flow: column;
    text-align: center;
}

.show-details-container {
    display: flex;
    margin: 50px;
    flex-flow: column;
}

.card-container {
    cursor: pointer;
    pointer-events: auto;
}

.navigate-link {
    cursor: pointer;
    color: rgb(42, 42, 108);
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 500px) {
    .shows-list-container {
        display: flex;
        flex-flow: column;
        margin-bottom: 10px;
    }

    .show-details {
        display: flex;
        flex-flow: column;
        text-align: center;
    }

    .dashboard {
        display: flex;
        flex-flow: column;
        margin-top: 10px;
        align-items: inherit;
    }
}